@import "tailwindcss";

@font-face {
    font-family: 'Win95'; /* Give a name to your font */
    src: url('../fonts/W95FA.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Win95Bold'; /* win 95 bold */
    src: url('../fonts/W95AFAbold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  :root{
    --taskbar-gray: #c0c0c0;
    --hover-blue: #040d91;
  }

  .biography-window{
    box-shadow: inset -2px -2px black;
    scrollbar-width: thin;
  }
  
  .file-actions {
    display: flex;
    gap: 10px;
  }
  
  .biography-inner-content {
    background-color: white;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    box-shadow: inset -1px -1px gray;
    display: flex;
    height: 350px;
    overflow-y: auto;
  }
  
  .object-information {
    display: flex;
    gap: 2px;
  }
  
  .object-info{
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    height: auto;
    margin: 5px 0px 5px 0px;
    padding: 0px 0px 0px 3px;
    width: 50%;
  }
  
  .size-info {
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    height: auto;
    margin: 5px 0px 5px 0px;
    padding: 0px 0px 0px 3px;
    width: 50%;
  }
  
  .biography-pic-1 {
    width: 210px;
    padding-top: 10px;
    padding-left: 10px;
  }
  
  .biography-content {
    display: flex;
    flex-direction: column;
    padding: 0px 8px 0px 6px;
  }
  
  .biography-picture-container {
    flex-shrink: 0;
    width: 210px;
  }
  
  .biography-content-right {
    flex: 1;
    min-width: 0;
    overflow-y: auto;
  }
  
  .biography-title {
    font-family: 'Win95';
    padding-left: 10px;
    padding-top: 3px;
    font-size: 32px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
  
  .biography-line1 {
    font-size: 13px;
    color: rgb(93, 93, 93);
    padding-left: 10px;
  }
  
  .biography-line2 {
    font-size: 13px;
    color: rgb(93, 93, 93);
    padding-left: 10px;
    padding-top: 6px;
  }
  
  .biography-line3 {
    font-size: 13px;
    color: rgb(93, 93, 93);
    padding-left: 7px;
    padding-right: 12px;
  }
  
  .programming-buttons{
    gap: 6px;
    display: flex;
    padding-top: 7px;
    padding-left: 11px;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: center;
  }
  
  .programming-buttons img{
    object-fit: contain;
    flex-shrink: 0;
    height: 18px;
  }